# Created by .ignore support plugin (hsz.mobi)
.idea/
build/
dist/
ksif.egg-info/

test.py

# Virtual environments
/venv
raw_data/

# Raw data files.
*.h5
*.xlsx
*.csv
*.pck
!ksif/tests/data/
!preprocess/tests/data/
!preprocess/data/

# Log files.
preprocess/tests/.cache

.DS_Store
core/__pycache__/

# Virtual environments
venv/
nb/

__pycache__
.cache/
